RewriteEngine On

# Redirect from "bio3a.pt/index.html" to "bio3a.pt"
RewriteRule ^index\.html$ / [R=301,L]

# Redirect from "bio3a.pt/project.html" to "bio3a.pt/projecto"
RewriteRule ^project\.html$ /projeto [R=301,L]

# Redirect from "bio3a.pt/galeria.html" to "bio3a.pt/galeria"
RewriteRule ^galeria\.html$ /galeria [R=301,L]

# Redirect from "bio3a.pt/blog.html" to "bio3a.pt/blog"
RewriteRule ^blog\.html$ /blog [R=301,L]

# Redirect from "bio3a.pt/blog/article-name.html" to "bio3a.pt/blog/article-name"
RewriteRule ^blog/([^/]+)\.html$ /blog/$1 [R=301,L]